[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
requests = "*"
selenium = "*"
urllib3 = "*"
webdriver-manager = "*"
PyAutoGUI = "*"
PyYAML = "*"
pyinstaller = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.8"
