[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
requests = "*"
selenium = "*"
urllib3 = "*"
webdriver-manager = "*"
PyAutoGUI = "*"
PyYAML = "*"
pyinstaller = "*"
colorama = "*"
blessed = "*"
packaging = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3"
